<!DOCTYPE html>
<html lang="en">

<!--Webpage title-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Race Calendar Optimization</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<!--Body-->
<body>
    <!--Header-->
    <h1 align="center">F1 Race Calendar Optimization</h1>
    
    <!--Page nagivation-->
    <div class="h_container">
        <form action="/index">
            <button type="submit">Project Overview</button>
        </form>

        <form action="/testmodelinit">
            <button type="submit">Test FOL TSP Model</button>
        </form>

        <form action="/comparemodelsinit">
            <button type="submit">Compare Models</button>
        </form>
    </div>
    
    <br>

    <div class="model_page_container">
        <form action="/testmodelresults">  
            <div class="selection_container">
                <!--City dropdown select-->
                <div class="dropdown_container">
                    <label for="cities">Select Cities</label>
                    <select id="cities" class="dropdown" name= "cities" method="GET" action="/" multiple>
                        <option value="" disabled selected>Select your cities</option>
                        {% for city in cities %}
                        <option value= "{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <!--Start city dropdown-->
                <div class="dropdown_container">
                    <label for="startcity">Select Start City</label>
                    <select id="startcity" class="dropdown" name="startcity" method="GET" action="/" disabled>
                        <option>Select cities first</option>
                    </select>
                </div>
    
                <!--End city dropdown-->
                <div class="dropdown_container">
                    <label for="endcity">Select End City</label>
                    <select id="endcity" class="dropdown" name="endcity" method="GET" action="/" disabled>
                        <option>Select start city first</option>
                    </select>
                </div>

                <button type="submit">Submit</button>
            </div>
        </form>

        <div class="text_container" style="flex: 1; text-align: left;">
            <p>On this page, you will be able to test the Freely-Open-Loop TSP model with various city parameters.</p>
            <br>
            <p>The Freely-Open-Loop (FOL) TSP model is an optimization model that finds the set of edges between cities that results in the shortest distance traveled while visiting every city exactly once.
                While a normal TSP model results in a loop that starts and ends at the same city, the FOL TSP model starts and ends at different cities, creating a path.</p>
            <br>
            <p>You can test the FOL TSP model with the 2025 F1 venues using the dropdowns to the left.
                You have the option to select which cities you'd like to visit, a specific start city, and a specific end city. 
                The start and end city parameters are optional, but you must choose at least two cities from the Select Cities dropdown to select a start city, and you must select a city from the Select Start City dropdown to select an end city.
                If all the options are left blank, then the FOL TSP model will find the shortest path among all the cities.</p>
        </div>
    </div>
    
    <script>
        const citiesDropdown = document.getElementById('cities');
        const startCityDropdown = document.getElementById('startcity');
        const endCityDropdown = document.getElementById('endcity');
    
        // Function to populate the start city dropdown
        function updateStartCityDropdown() {
            // Get selected options from the cities dropdown
            const selectedOptionsStartCity = Array.from(citiesDropdown.selectedOptions);
    
            // Clear the start city dropdown
            startCityDropdown.innerHTML = '';
    
            // If there are selected cities, populate the start city dropdown
            if (selectedOptionsStartCity.length > 0) {
                startCityDropdown.disabled = false; // Enable the start city dropdown
    
                // Populate the start city dropdown with the selected cities
                const placeholderOption = document.createElement('option');
                placeholderOption.textContent = 'Select a start city'
                placeholderOption.value = '';
                placeholderOption.disabled = true;
                placeholderOption.selected = true;
                startCityDropdown.appendChild(placeholderOption)

                selectedOptionsStartCity.forEach(option => {
                    const newOption = document.createElement('option');
                    newOption.value = option.value;
                    newOption.textContent = option.textContent;
                    startCityDropdown.appendChild(newOption);
                });
            } else {
                startCityDropdown.disabled = true; // Disable if no cities are selected
                const defaultOption = document.createElement('option');
                defaultOption.textContent = 'Select from first dropdown';
                startCityDropdown.appendChild(defaultOption);
            }
        }

        // Function to populate the end city dropdown
        function updateEndCityDropdown() {
            // Getting chosen start city
            const startCityValue = startCityDropdown.value;
            
            // Get selected options from the cities dropdown and take out the chosen start city
            const selectedOptionsEndCity = Array.from(citiesDropdown.selectedOptions).filter(option => option.value !== startCityValue);
    
            // Clear the end city dropdown
            endCityDropdown.innerHTML = '';
    
            // If there are selected cities, populate the end city dropdown
            if (selectedOptionsEndCity.length > 0) {
                endCityDropdown.disabled = false; // Enable the end city dropdown
    
                // Populate the end city dropdown with the selected options
                const placeholderOption = document.createElement('option');
                placeholderOption.textContent = 'Select an end city'
                placeholderOption.value = '';
                placeholderOption.disabled = true;
                placeholderOption.selected = true;
                endCityDropdown.appendChild(placeholderOption)

                selectedOptionsEndCity.forEach(option => {
                    const newOption = document.createElement('option');
                    newOption.value = option.value;
                    newOption.textContent = option.textContent;
                    endCityDropdown.appendChild(newOption);
                });
            } else {
                endCityDropdown.disabled = true; // Disable if no cities are selected
                const defaultOption = document.createElement('option');
                defaultOption.textContent = 'Select from first dropdown';
                endCityDropdown.appendChild(defaultOption);
            }
        }
    
        // Add event listeners to monitor changes in the cities dropdown and start city dropdown
        citiesDropdown.addEventListener('change', updateStartCityDropdown);
        startCityDropdown.addEventListener('change', updateEndCityDropdown)
    </script>

</body>
</html>